[Desktop Entry]
Version=1.0
Type=Application

Name=Localizer
Comment=A template for creating GNOME apps with Swift
Categories=Development;GNOME;

Icon=io.github.AparokshaUI.Localizer
Exec=Localizer
Terminal=false